¨



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body    {
 font-size: larger;
background: red;
    color: black
}


.header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    background: rebeccapurple;
    
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
.Andreas{
  font-size: 50px;
  display: flex;
  font-weight: 600;
  
}
.navbar a{
color: black; 
font-weight: 1000;
margin-left: 33px;

}
