
body    {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

font-size: x-large;
background-color: rgb(57, 14, 214);
    color: rgb(255, 225, 53);
}
h1  {  
color: red;
background-color: beige;
font-size: 78px;
padding-right 50px;
}
header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px)
  }
  

footer{}