

head    { 

  

}
body    {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: violet;
font-size: x-large;
}
h1  {  
color: red;
background-color: lightblue
font-size: 78px;
padding-right 50px;
}
p2 { 
    background-color: beige;
    color: brown;
}

footer