.header {
    background: #89b296; 
    border-top: 10px solid #6c987a;
    border-bottom: 10px solid #6c987a;
    padding: 10px 0;
    /* text-align: center; */
    /* text-align: left; */
    justify-content: flex-start;
}

header .profileImage {
    width: 210px; 
    height: 210px; 
    border-radius: 50%; 
    display: block;
    margin-right: 10px;
    object-fit: cover; 
}

.return-button {
    display: inline-block;
    color: white;
    padding: 10px 20px;
    background-color: #507e5e;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    right: 50px;
    top: 50px;
}

.return-button:hover {
    background-color: rgb(104, 101, 101);
}

.container {
    width: 1470px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.content {
    /* align-items: center; */
    padding-left: 20px;
}

.content h1 {
    padding-bottom: 0;
    margin-bottom: 5px;
}

.content h2 {
    margin-top: 5px;
    margin-bottom: 10px;;
}

.content ul {
    margin-top: 10px;
}


.socials-header {
    display: inline-flex;
    padding-left: 0;
    /* padding-right: 5px; */
    list-style: none; 
    gap: 10px;
    margin-left: 0;
}

/* logo */
.socials-header a {
    color: #507e5e;
    transition: filter 0.3s;
    text-align: center;
    /* text-align: center;
    vertical-align: middle; */
}

/* endre farge logo ved hover */
.socials-header a:hover {
    color: rgb(104, 101, 101);
    transition: filter 0.3s;
}

/* endre farge sirkel hover */
.circle-icon:hover {
    transition: filter 0.3s;
    background: rgb(184, 182, 182);
}

.circle-icon {
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    align-content: center;
    /* text-align: center;
    /* vertical-align: middle;  */
    /* padding-left: 10px; */
}

.middle-wrapper {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
    background: #d5eadc;
}

.first-textblock {
    /* color: #d5eadc; */
    padding: 40px;
}

.second-textblock {
    padding: 40px;
}

.history {
    align-items: center;
    border-radius: 10px;
    background: whitesmoke;
    padding: 10px;
}

.coding-music {
    border-radius: 10px;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    background: whitesmoke;

}

.songs-list {
    /* display: flex; */
    align-items: center;
    list-style: none; 
    padding: 0px;
    /* margin-left: 10px; */
}

.songs-list li {
    margin-bottom: 15px;
}

.songs-list i {
    color: #507e5e;
}

.songs-list a {
    color: #585b60;
    padding-left: 5px;
    text-decoration: none;
}

.songs-list i:hover,
.songs-list a:hover {
    font-weight: bold;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    color: #3f454c;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #585b60;
}