.header {
    background: #89b296; 
    border-top: 10px solid #6c987a;
    border-bottom: 10px solid #6c987a;
    padding: 10px 0;
    /* text-align: center; */
    /* text-align: left; */
    justify-content: flex-start;
}

header .profileImage {
    width: 210px; 
    height: 210px;
    border-radius: 50%; 
    display: block;
    margin-right: 10px;
    object-fit: cover; 
}

.container {
    width: 1470px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.content {
    /* align-items: center; */
    padding-left: 20px;
}

.content h1 {
    padding-bottom: 0;
    margin-bottom: 5px;
}

.content h2 {
    margin-top: 5px;
    margin-bottom: 10px;;
}

.content ul {
    margin-top: 10px;
}

.socials-header {
    display: inline-flex;
    padding-left: 0;
    /* padding-right: 5px; */
    list-style: none; 
    gap: 10px;
    margin-left: 0;
}

.socials-header a {
    color: #507e5e;
    transition: filter 0.3s;
    text-align: center;
    /* text-align: center;
    vertical-align: middle; */
}

.socials-header a:hover {
    color: rgb(104, 101, 101);
}

.circle-icon:hover {
    background: rgb(184, 182, 182);
}

.circle-icon {
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    align-content: center;
    /* text-align: center;
    /* vertical-align: middle;  */
    /* padding-left: 10px; */
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    color: #3f454c;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: #3f454c;
}